/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid $gray;
	width: 100%;
}
th {
	text-align: left;
	border: 1px solid $gray;
}
td {
	border: 1px solid $gray;
	vertical-align:top;
}