/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	
	a {
		display: block;
		padding: $pad;
		text-decoration: none;
		border-top: 1px solid $gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}
}

//Pagination
.pagination {
	float: left;
	li, li:last-child {
		float: left;
		a {
			text-decoration: none;
			padding: $space-half;
		}
		border:none;
		padding: $space-half $space-half/2;
		border: 1px solid black;
		margin: 2px;
	}
	.active {
	}
	.disabled, .active {
		color:#CBCBCB;
	}
}

.breadcrumbs {
	margin-bottom: $space-half;
	a {
		font-weight: bold;
		text-decoration: underline;
	}
}